:root {
    --content-width: 50em;
    --beige: #D1BC8A;
    --theme: #6a93b0;
}

html, body {
    margin: 0;
    padding: 0;
}

.navbar {
    position: relative;
    text-align: center;
    padding: 2em;
    padding-bottom: 1.5em;
    background-color: var(--theme);
}

.navlinks {
    display: none;
}

.navlogo {
    display: block;
    position: absolute;
    top: 1em;
    left: 1em;
    text-decoration: none;
    color: black;
}

.navitem {
    display: block;
    text-decoration: none;
    color: black;
    margin-top: .3em;
}

.hamburger {
    display: block;
    position: absolute;
    top: .5em;
    right: 1em;
    text-decoration: none;
    font-weight: 900;
    color: black;
    font-size: 1.5em;
}

.main {
    max-width: var(--content-width);
    min-height: 80vh;
    margin: 0 auto;
    padding: .5em;
    text-align: center;
}

.main-content {
    text-align: left;
}

h1 {
    margin-top: 0;
}

#currently-reading {
    padding: .5em;
    border: 2px solid black;
    border-radius: .35em;
}

.comment-author {
    color: var(--theme);
    font-style: italic;
    font-weight: bold;
    font-size: .85em;
    margin-top: -1em;
}

.comment-author-pic {
    width: 2em;
    height: 2em;
    margin-left: 1em;
    vertical-align: middle;
    border-radius: 50%;
}

.compact-list {
    text-align: left;
}

blockquote {
    font-style: italic;
    background-color: #e8e6e3;
    padding: 1em;
    border-radius: .75em;
    line-height: 1.5;
}

.member img {
    display: block;
    top: 0;
    right: 0;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    vertical-align: middle;
}

.member h2 {
    margin-bottom: 0em;
}

.member-short-info {
    color: var(--theme);
    font-variant: small-caps;
    font-style: italic;
}

.member-long-info {
    text-align: left;
}

#statute {
    text-align: left;
}

.left-align {
    text-align: left;
}

.collapser {
    cursor: pointer;
}

.more, .less {
    font-style: italic;
    cursor: pointer;
}

.footer {
    max-width: var(--content-width);
    margin: 0 auto;
    text-align: center;
    font-size: .75em;
}

@media (min-width:800px)  {
    .hamburger {
        display: none;
    }

    .navbar {
        display: block;
        padding-top: 0em;
        padding-bottom: .75em;
    }

    .navlinks {
        display: inline;
    }

    .navitem {
        display: inline;
        padding: 1em;
    }

    .navitem:hover, .navlogo:hover {
        color: white;
    }

    .navlogo {
        position: relative;
        margin-bottom: 2em;
    }
}
