:root {
    --content-width: 45em;
    --content-width-plus: 55em;
    --beige: #e8e6e3;
    --theme: #6a93b0;
    --secondary: #fff0db;
    --secondary-bak: #ffebcc;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: serif;
}

h1 {
    color: black;
    margin-top: 0;
}

.collapser + * {
    transition: display 1s allow-discrete;
}

.navbar {
    position: relative;
    text-align: center;
    padding: 2em;
    padding-bottom: 1.5em;
}

.navbar-hr {
    width: 75%;
    max-width: 100%;
    color: var(--theme);
}

.navlinks {
    display: none;
    grid-template-columns: 50% 50%;
    margin-top: 1.5em;
}

#navbar-logo {
    position: absolute;
    top: 0.5em;
    left: 0.5em;
    width: 6em;
}

.navitem {
    display: block;
    text-decoration: none;
    color: black;
    margin-top: .3em;
}

.navitem:hover {
    text-decoration: underline;
}

.hamburger {
    display: block;
    position: absolute;
    top: .5em;
    right: 1em;
    text-decoration: none;
    font-variant: small-caps;
    font-weight: 500;
    color: black;
    font-size: 1.5em;
}

.main {
    max-width: var(--content-width);
    min-height: 80vh;
    margin: 0 auto;
    padding: .5em;
    text-align: center;
    line-height: 1.6;
}

#mitglieder-main {
    max-width: var(--content-width-plus);
}

#books-main {
    max-width: var(--content-width-plus);
}

.main-content {
    text-align: left;
}

#index-logo {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 2em;
    margin-bottom: 2em;
}

.blue-text {
    color: var(--theme);
    font-size: .85em;
    font-weight: 500;
    margin-top: -1em;
}

.box-it {
    padding: 0.3em;
    border: 2px solid black;
    background-image: linear-gradient(var(--theme), var(--beige));
}

#currently-reading-div {
    font-size: 1.25em;
    text-align: center;
    background-color: var(--secondary);
    border-radius: 1em;
    border: 3px solid var(--theme);
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em;
}

#table-toggle {
    display: none;
}

.book {
    margin-top: 1.5em;
    background-color: var(--secondary);
    border-radius: 1em;
    border: 3px solid var(--theme);
    padding-top: 0.25em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.book h2 {
    font-size: 1.25em;
    line-height: 1.5em;
}

.book-sep {
    display: block;
    color: var(--theme);
    width: 75%;
    margin-top: 2em;
}

.comment {
    width: 90%;
}

.comment-author-text {
    font-size: 1em;
}

.comment-author {
    margin-top: 0em;
}

.comment-author-pic {
    width: 2em;
    height: 2em;
    margin-left: 1em;
    vertical-align: middle;
    border-radius: 50%;
}

table {
    border-collapse: collapse;
}

thead {
    color: var(--theme);
    background-color: var(--beige);
}

blockquote {
    font-style: italic;
    background-color: var(--beige);
    padding: 1em;
    border-radius: .75em;
    line-height: 1.5;
    margin-left: 0;
}

blockquote a {
    text-decoration: none;
    color: var(--theme);
}

blockquote p {
    margin-top: 0.5em;
    margin-bottom: 0em;
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

td {
    text-align: left;
}

td:last-of-type {
  text-align: center;
}

tbody > tr:nth-of-type(even) {
  background-color: rgb(237 238 242);
}

.member {
    background-color: var(--secondary);
    border-radius: 1em;
    border: 3px solid var(--theme);
    padding: 0.5em;
    padding-top: 0.2em;
    margin-bottom: 1em;
}

.member img {
    display: block;
    top: 0;
    right: 0;
    width: 4em;
    height: 4em;
    border-radius: 50%;
    vertical-align: middle;
}

.member h2 {
    margin-bottom: 0em;
}

.member-short-info {
    color: var(--theme);
    font-variant: small-caps;
    font-style: italic;
}

.member-long-info {
    text-align: left;
}

#statute {
    text-align: left;
}

.collapser {
    cursor: pointer;
}

.more, .less {
    font-style: italic;
    cursor: pointer;
    color: gray;
    font-variant: small-caps;
}

.p-arab-p {
    counter-reset: arab;
}

.alpha-p {
    counter-reset: alpha;
}

li {
    list-style: none;
    text-indent: -1em;
}

.p-arab-p > li:before {
    display: inline-block;
    counter-increment: arab;
    content: "(" counter(arab) ")";
    margin-right: 0.75em;
}

.alpha-p > li:before {
    display: inline-block;
    counter-increment: alpha;
    content: counter(alpha, lower-alpha) ")";
    margin-right: 1em;
}

ul li {
    text-align: left;
    list-style-type: disc;
    list-style: inside;
}

.left-align {
    text-align: left;
}

.centre-align {
    text-align: center;
}

.footer {
    max-width: var(--content-width);
    margin: 0 auto;
    text-align: center;
    font-size: .75em;
}

@media (min-width:800px)  {
    .hamburger {
        display: none;
    }

    #navbar-logo {
        position: absolute;
        top: 1em;
        left: 1em;
        width: 9em;
    }

    .navbar {
        display: block;
        padding-top: 2em;
        padding-bottom: .75em;
        background-color: white;
    }

    .navlinks {
        display: inline;
    }

    .navitem {
        display: inline;
        padding: 1em;
        color: var(--theme);
        font-weight: bold;
    }

    #back-to-home-nav {
        display: none;
    }

    #index-logo {
        width: 40%;
    }

    #currently-reading-div {
        margin-left: 5em;
        margin-right: 5em;
    }

    .member {
        margin-bottom: 0em;
    }

    #members-container {
        display: grid;
        grid-template-columns: 33.3% 33.3% 33.3%;
        gap: 1em;
    }

    #table-toggle {
        display: block;
    }

    .book-sep {
        display: none;
    }

    #books-container {
        display: grid;
        grid-template-columns: 50% 50%;
        gap: 1em;
    }

    #dos-donts-container {
        display: grid;
        grid-template-columns: 50% 50%;
        margin-top: 1em;
        gap: 1em;
    }
}
